body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
}

.container {
  padding: 60px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

h1 {
  color: blue;
  font-size: 60px;
}

p {
  color: green;
  font-size: 30px;
}

img {
  width: 200px;
  margin-bottom: 20px;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}